{% trans_default_domain 'FOSUserBundle' %}
<div><h1>a</h1></div>
<div><h8>a</h8></div>

<div class="container bootstrap snippets bootdey">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-th"></span>
                        Changer mot de passe
                    </h3>
                </div>
                {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6 separator social-login-box"> <br>
                            <img alt="" class="img-thumbnail" src="{{ asset('images/profil/' ~ user.imageName) }}" height="300" width="300">
                        </div>
                        <div style="margin-top:80px;" class="col-xs-6 col-sm-6 col-md-6 login-box">
                            {{form_errors(form.current_password) }}
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                                    {{ form_widget(form.current_password, {'attr' : {'class' : 'form-control', 'placeholder' : 'mot de passe courant'}}) }}
                                </div>
                            </div>
                            {{form_errors(form.plainPassword.first) }}
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon"><span class="glyphicon glyphicon-log-in"></span></div>
                                    {{ form_widget(form.plainPassword.first, {'attr' : {'class' : 'form-control', 'placeholder' : 'Nouveau mot de passe'}}) }}
                                </div>
                            </div>
                            {{form_errors(form.plainPassword.second) }}

                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon"><span class="glyphicon glyphicon-log-in"></span></div>
                                    {{ form_widget(form.plainPassword.second, {'attr' : {'class' : 'form-control', 'placeholder' : 'Répéter mot de passe'}}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6"></div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <button class="btn icon-btn-save btn-success" type="submit">
                                <span class="btn-save-label"><i class="glyphicon glyphicon-floppy-disk"></i></span>Changer</button>
                                <a class="btn btn-success" type="button" href="{{ path('fos_user_profile_edit') }}">
                                    Retour</a>
                        </div>

                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>