{% extends 'base.html.twig'%} 
{% block content %}
<!-- Font Icon -->
<link rel="stylesheet" href="{{asset('Post/fonts/material-icon/css/material-design-iconic-font.min.css')}}">

<!-- Main css -->
<link rel="stylesheet" href="{{asset('Post/css/style.css')}}">

	<!-- Causes Wrapper -->
	 
	 
		<div class="containero-cause-profile">
			<div class="row cause">
			 
				<div class="col-md-10 col-md-offset-1">
				
					<div class="image-wrapper">
						<img class="img-responsive" src="{{ asset ('uploads/files/' ~post.thumbnail)}}" style="width:1200px; height:400px;" alt="">
					</div>
					<div class="meta">
						<h2> {{post.title}}</h2>
						<div class="short-stats clearfix">
							<h5><i class="fa fa-heart-o"></i> {{post.donors}} contributeurs</h5>
							{% set datePost = post.createdAt|date('d-m-Y') %}
							{% set today = "now"|date('d-m-Y') %}
							{% set difference = date(today).diff(date(datePost))%}
							{% set leftDays = difference.days %}
							<h5><i class="fa fa-clock-o"></i>{{ leftDays }} Jours</h5>
						</div>
					</div>
					<div class="clearfix">
						<div class="foundings">
							<div class="progress-bar-wrapper min">
								<div class="progress-bar-outer">
								
									<p class="values"><span class="value one">Rised: {{post.amount}} DT</span>/<span class="value two"> To go: {{ post.fundingGoal}} DT</span></p>
									<div class="progress-bar-inner">
										<div class="progress-bar">
											<span data-percent="{{ ((post.amount / post.fundingGoal)*100)|round }}"> <span class="pretng">{{ ((post.amount / post.fundingGoal)*100)|round }}%</span> </span>
										</div>	
									</div>
								</div>
							</div>
						</div>
						 
					</div>
					<div class="info-block">
						<p>{{post.content}} </p>

					</div>
				</div>
			</div>
			  
		</div>
	 
		
	 
{% endblock %}