{% extends 'base.html.twig'%} 
{% block content %}
<!-- Font Icon -->
<link rel="stylesheet" href="{{asset('Post/fonts/material-icon/css/material-design-iconic-font.min.css')}}">

<!-- Main css -->
<link rel="stylesheet" href="{{asset('Post/css/style.css')}}">
 
    <div class="super-containero">
	      <div class="containero">
            <h2>Soumettre ton projet ici</h2>
             
            {{ form_start(form, {'method': 'post','attr': {'class': 'signup-form','id':'signup-form'}})  }}

                <h3>
                    <span class="title_text">Infomations générales</span>
                </h3>
                <fieldset>
                    <div class="fieldset-content">

                        <div class="form-group">
                            <label for="username" class="form-label">Numéro de téléphone</label>
                             {{ form_widget(form.phone, {'attr': {'class': 'form-control input-border', 'placeholder':'+216 99-999-999'} }) }}
                             
                        </div>

                        <div class="form-group">
                            <label for="username" class="form-label">Organisation Bénèficiaire</label>
                             {{ form_widget(form.organization, {'attr': {'class': 'form-control input-border', 'placeholder':'organisation'} }) }}
                             
                        </div>

                        <div class="form-group">
                            <label for="username" class="form-label">location</label>
                             {{ form_widget(form.location, {'attr': {'class': 'form-control input-border'}}) }}
                             
                        </div>
                        
                         
                    </div>
                    <div class="fieldset-footer">
                        <span>Step 1 of 3</span>
                    </div>
                </fieldset>
                
                <h3>
                    <span class="title_text">Informations du Projet</span>
                </h3>
                <fieldset>

                    <div class="fieldset-contentl">
                        <div class="form-group">
                            <label for="full_name" class="form-label">Titre</label>
                            {{ form_widget(form.title, {'attr': {'class': 'form-control', 'placeholder':'titre' ,'required':'true'} }) }}
                        </div>
    
                         <div class="form-select">
                            <label for="country" class="form-label">Categorie</label>
                            {{ form_widget(form.category, {'attr': {'class': 'form-control input-border'}}) }}
                        </div>
    
                        <!--<div class="form-radio">
                            <label for="gender" class="form-label">Gender</label>
                            <div class="form-radio-item">
                                <input type="radio" name="gender" value="male" id="male" checked="checked" />
                                <label for="male">Male</label>
    
                                <input type="radio" name="gender" value="female" id="female" />
                                <label for="female">Female</label>
                            </div>
                        </div>-->
    
                        <div class="form-textarea">
                            <label for="about_us" class="form-label">Contenu</label>
                            {{ form_widget(form.content, {'attr': {'class': 'form-control', 'placeholder':'proumovoir votre projet' ,'required':'true'} }) }}
                        </div>
                        <div class="form-group">
                            <label for="full_name" class="form-label">Objectif</label>
                            {{ form_widget(form.fundingGoal, {'attr': {'class': 'form-control', 'placeholder':'DT' ,'required':'true'} }) }}
                        </div>
                        <div class="form-group">
                            <label for="your_avatar" class="form-label">Attachement</label>
                            <div class="form-file">
                                {{ form_widget(form.thumbnail ,{'attr': {'class': 'custom-file-input ','required':'true'} }) }}
                                
                                <span id='val'></span>
                                <span id='button'>Choisir image</span>
                            </div>
                        </div>
                        <div class="form-date">
                            <label for="expiry_date">Date Limite</label>
                            <div class="form-flex">
                                <div class="form-date-item">
                                     {{ form_widget(form.dateLimit) }}
                                    <span class="select-icon"><i class="zmdi zmdi-chevron-down"></i></span>
                                </div>
                                 
                            </div>
                        </div>
                         
                    </div>

                    <div class="fieldset-footer">
                        <span>Step 2 of 3</span>
                    </div>

                </fieldset>

                <h3>
                    <span class="title_text">Details de Remboursement</span>
                </h3>
                <fieldset>
                    <div class="fieldset-content">
                        <div class="form-radio">
                            <label for="payment_type">Type de remboursement</label>
                            <div class="form-radio-flex">
                                <input type="radio" name="payment_type" id="payment_visa" value="payment_visa" checked="checked" />
                                <label for="payment_visa"><img src="{{asset('Post/images/icon-visa.png')}}" alt=""></label>
    
                                <input type="radio" name="payment_type" id="payment_master" value="payment_master" />
                                <label for="payment_master"><img src="{{asset('Post/images/icon-master.png')}}" alt=""></label>
    
                                <input type="radio" name="payment_type" id="payment_paypal" value="payment_paypal" />
                                <label for="payment_paypal"><img src="{{asset('Post/images/icon-paypal.png')}}" alt=""></label>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="credit_card" class="form-label">Credit Card</label>
                                <input type="text" name="credit_card" id="credit_card" />
                            </div>
                            <div class="form-group">
                                <label for="cvc" class="form-label">CVC</label>
                                <input type="text" name="cvc" id="cvc" />
                            </div>
                        </div>
                        <div class="form-date">
                            <label for="expiry_date">Date d'expiration</label>
                            <div class="form-flex">
                                <div class="form-date-item">
                                    <select id="expiry_date" name="expiry_date"></select>
                                    <span class="select-icon"><i class="zmdi zmdi-chevron-down"></i></span>
                                </div>
                                <div class="form-date-item">
                                    <select id="expiry_year" name="expiry_year"></select>
                                    <span class="select-icon"><i class="zmdi zmdi-chevron-down"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name_of_card" class="form-label">Nom de la carte</label>
                            <input type="text" name="name_of_card" id="name_of_card" />
                        </div>
                    </div>

                    <div class="fieldset-footer">
                        <span>Step 3 of 3</span>
                    </div>
                <div class="long"> 
                </div>   
                <button class="finish">Submit <i class="fa fa-check-square"></i></button>   
                </fieldset>
            
            {{ form_end(form) }}
        </div>

    </div>
    </div>
{% endblock %}
    
 